/*-----------------------------------------------------fonticon--------------------------------------------------------*/
@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?9utwrd');
    src:    url('fonts/icomoon.eot?9utwrd#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?9utwrd') format('truetype'),
        url('fonts/icomoon.woff?9utwrd') format('woff'),
        url('fonts/icomoon.svg?9utwrd#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-icon-01:before {
    content: "\e900";
}
.icon-icon-02:before {
    content: "\e901";
}
.icon-icon-03:before {
    content: "\e902";
}
.icon-icon-04:before {
    content: "\e903";
}
.icon-icon-05:before {
    content: "\e904";
}
.icon-uniE61F:before {
    content: "\e61f";
}
.icon-uniE620:before {
    content: "\e620";
}

/*---------------------------------------------------reset--------------------------------------------------------------*/
@charset "UTF-8";
body{
	margin:0;
	padding:0;
	height:100%;
	min-height:100%;
	color:#333;
	font:14px/1.5 "微软雅黑";
	background-color: #f7f7f8;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,arti
cle,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
	margin:0;padding:0;
}
input,select,textarea{
	font-size:100%;
}
table{
	border-collapse:collapse;
	border-spacing:0;
}
th{
	text-align:inherit;
	font-weight:400;
}
fieldset,img{
	border:0;
}
ol,ul{
	list-style:none;
}
h1,h2,h3,h4,h5,h6{
	color:inherit;
	font-weight:400;
	font-size:100%;
	text-rendering:optimizelegibility;
}
img{
	border:0;
	vertical-align:middle;
	-ms-interpolation-mode:bicubic;
}
a{
	text-decoration:none;
	color:inherit;
	outline: none;
}
a:focus{
	outline:thin dotted;
}
a:hover{
	text-decoration:none;
}
button,input,select,textarea{
	margin:0;
	outline:0 none;
	vertical-align:middle;
	font-size:100%;
	font-family:tahoma;
	*vertical-align:top;
}
button,input{
	line-height:normal;
	width: 25px;
}
.clearfix:before,.clearfix:after{
	content:".";
	display:block;
	visibility:hidden;
	height:0;
	line-height:0;
	font-size:0;
}
.clearfix:after{
	clear:both;
}
.clearfix{
	zoom:1;
}
/*--------------------------------------------------------------homepage-----------------------------------------------------*/
.top_head{
	width:100%;
	height:80px;
	background: #fff;
	line-height: 80px;
	position: absolute;
}
.top_left{
	float:left;
	margin-left:20px;
}
.logo_help li{
	float:left;
	display:table-cell;
	color:#0fb6ff;
	cursor: pointer;
	padding:0 20px;
}
.pingpong_logo{
	vertical-align: middle;
}
.top_right{
	float:right;
	margin-right: 20px;
	color:#0fb6ff;
}
.top_quit{
	text-decoration: underline;
	margin: 0 5px 0 15px;
	cursor: pointer;
}
.left_content{
	width:16%;
	background-color: #252525;
	height:100%;
	padding-top:120px;
	float:left;
}
.left_menu li{
	color:#fff;
	margin-left: 20px;
	width:70%;
	text-indent: 10px;
	line-height: 35px;
	margin-bottom: 25px;
	cursor: pointer;
}
.cg_menu_a{
	display: inline-block;
	width:100%;
}
.icon_tool{
	font-size: 26px;
	font-weight: bold;
}
.right_content{
	float:left;
	width:80%;
	padding: 0px 2%;
	background-color: #f7f7f8;
}
.left_message{
	width:55%;
	background-color: #fff;
	padding-left:20px;
	float:left;
	height:100%;
	box-shadow: 0px 0px 10px #dcdcdc;
}
.company_info{
	padding: 30px 0;
	border-bottom: 1px solid #dcdcdc;
}
.company_table{
	width: 100%;
}
.company_table td{
	text-align: left;
	line-height: 45px;
}
.company_table .info_tip{
	color:#0fb6ff;
}
.bank_table{
	width: 100%;
	margin-top: 20px;
}
.bank_table td{
	text-align: center;
	line-height: 33px;
}
.login_table{
	width: 97%;
}
.login_table td{
	text-align: center;
	line-height: 33px;
}
.add_account{
	color:#ff5152;
	text-decoration:underline;
	cursor: pointer;
}
.modify_mail{
	color:#666;
	text-decoration:underline;
	cursor: pointer;
}
.modify_phone{
	color:#666;
	text-decoration:underline;
	cursor: pointer;
}
.bank_info{
	border-bottom: 1px solid #dcdcdc;
	background-color: #fff;
}
.login_info{
	padding:20px 0 15px 0;
}
.right_message{
	float:right;
	width:42%;
	height:100%;
}
.money_message li{
	background-color: #fff;
	margin-bottom: 7px;
	padding:15px 0;
	box-shadow: 0px 0px 8px #dcdcdc;
}
.summoney_pic{
	float:left;
	margin: 0 3px;
}
.summoney_mes{
	float: left;
}
.li_half{
	width:49%;
	background-color:#fff;
	padding:15px 0;
}
.user_staus{
	width:100%;
	height:125px;
	background-color: #fff;
	margin-top: 10px;
	padding-top: 20px;
}
.progress_title{
	color:#0fb6ff;
	font-size: 20px;
	margin-left: 15px;
}
.progress{
	width:90%;
	height:4px;
	background-color: #dcdcdc;
	margin: 20px auto;
	position: relative;
}
.fixed_ring{
	width:18px;
	height:18px;
	border-radius: 9px;
	background-color:#0fb6ff;
	margin: 0 auto;
}
.progress_tip{
	width:100%;
	position: absolute;
	top:-6px;
	left:-40px;
}
.progress_tip li{
	float:left;
	width:80px;
	text-align: center;
	position: absolute;
}
.progress_half{
	width:50%;
	height:4px;
	background-color: #0fb6ff;
}
.v-link-active{
	border-left: 2px solid #0fb6ff;
	color:#0fb6ff !important;
}
.left_menu li:hover{
	font-weight: bold;
}
.index_bottom{
	width:100%;
	height:60px;
	line-height: 60px;
	background-color: #fff;
	text-align: center;
	margin-top: 20px;
}
.contact_us{
	position: fixed;
	bottom:50px;
	right:40px;
	width:60px;
	height:60px;
	border-radius: 30px;
	background-color: #fff;
	box-shadow: 0px 0px 8px #dcdcdc;
	cursor: pointer;
}
.contact_pic{
	position: absolute;
	top:15px;
	left:15px;
	width:50%;
	height: 50%;
}
.check_more,.bank_check_more{
	text-align: center;
	height: 20px;
	line-height: 20px;
	cursor: pointer;
	color: #0fb6ff;
}
.help_center{
	float: left;
}
.help_float{
	display: none;
	width:100%;
	background-color: #fff;
}
.help_tip{
	color: #0fb6ff;
	padding: 0 20px;
	cursor: pointer;
}
.help_tip:hover{
	color: #fff;
	background-color: #0fb6ff;
}
.help_float li{
	width:100%;
	height: 40px;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
}
.help_float li:hover{
	color: #fff;
	background-color: #0fb6ff;
}
.banner_tip{
	position: absolute;
	top:150px;
	left:21%;
	color: #fff;
}
.notice_tip{
	width:10px;
	height:10px;
	background-color: red;
	display: inline-block;
	border-radius: 5px;
	position: absolute;
	top:0;
	right:-2px;
}
.unget{
	background-color: #ddd;
}
.bank_table th,.login_info th{
	background-color: #0fb5ff;
	line-height: 30px;
	color: #fff;
}
/*------------------------------------------------------------accountmeg-------------------------------------------------*/
.message_title{
	color: #0fb6ff;
	margin-bottom: 30px;
}
.amz_pic{
	float: left;
	width:27%;
	text-align: center;
	margin-top: 20px;
}
.account_tip{
	float:left;
}
.account_li{
	width:24%;
	height:140px;
	float:left;
	background-color: #fff;
	margin-right: 1%;
	box-shadow: 0px 0px 8px #dcdcdc;
	border-radius: 6px;
	cursor: pointer;
}
.acc_active{
	border-bottom: 4px solid #0fb6ff;
}
.account_tip{
	margin-top:20px;
}
.account_tip li{
	line-height: 20px;
}
.add_user{
	text-align: center;
	color: #ddd;
}
.account_detail{
	margin-top: 30px;
}
.detail_nav{
	width:100%;
	height:50px;
}
.trade_bill li{
	float:left;
	width:100px;
	height: 100%;
	text-align: center;
	line-height: 50px;
	background-color: #fff;
	font-size: 16px;
	color: #0fb6ff;
	cursor: pointer;
}
.trade_bill{
	float:left;
}
.choose_date{
	float:right;
	line-height: 50px;
}
.check_load{
	float:right;
	line-height: 50px;
}
.ck_date{
	width:100px;
	height: 30px;
	line-height: 30px;
	border-radius: 5px;
	text-align: center;
	border: 1px solid #dcdcdc;
	color: #0fb6ff;
	cursor: pointer;
}
.check,.load{
	display: inline-block;
	width:80px;
	height:30px;
	line-height: 30px;
	border-radius: 5px;
	text-align: center;
	color: #0fb6ff;
	background-color: #fff;
	cursor: pointer;
}
.check{
	border: 1px solid #0fb6ff;
	margin-left: 5px;
}
.load{
	border: 1px solid #dcdcdc;
}
.account_table{
	width:100%;
	background-color: #fff;
}
.account_table th{
	background-color: #0fb5ff;
	height: 40px;
	text-align: center;
	color: #fff;
}
.account_table td{
	height: 40px;
	text-align: center;
	font-size: 14px;
}
.ck_detail{
	color: #0fb5ff;
	text-decoration:underline;
	cursor: pointer;
}
.pagination{
	margin-top: 25px;
	text-align: right;
}
.page_change{
	float: right;
}
.page_change li{
	float: left;
	width:50px;
	text-align: center;
	height: 30px;
	line-height: 30px;
	cursor: pointer;
}
.page_goto{
	width:30px;
	height: 30px;
	border: 1px solid #0fb5ff;
	line-height: 30px;
	border-radius: 3px;
	text-align: center;
	margin-left: 10px;
}
.goto_btn{
	display: inline-block;
	width:80px !important;
	height: 30px;
	border: 1px solid #dcdcdc;
	border-radius: 4px;
	text-align: center;
	background-color: #fff;
	line-height: 30px;
	color: #0fb5ff;
	margin-left: 5px;
}
.page_active{
	background-color: #0fb5ff;
	color: #fff;
	border-radius: 4px;
}
.trade_bill .detail_active{
	background-color: #0fb5ff;
	color: #fff;
}
/*----------------------------------------------------------notice--------------------------------------------------------*/
.unread{
	font-weight: bold;
}
.red_point{
	display: inline-block;
	width:8px;
	height: 8px;
	border-radius: 4px;
	background-color: red;
	position: absolute;
	top:11px;
	left:-14px;
}
.notice_time{
	float:left;
	margin-right:6%;
	position: relative;
	margin-left: 25px;
}
.notice_char{
	float:left;
}
.notice_list{
	background-color: #fff;
	box-shadow: 0px 0px 10px #dcdcdc;
}
.notice_list li{
	line-height: 30px;
}
.contact_mag{
	width:230px;
	background-color:#fff;
	box-shadow: 0px 0px 8px #dcdcdc;
	padding:15px 0 20px;
}
.contact_title{
	padding-bottom:20px;
	text-align: center;
}
.contact_classfiy li{
	color: #0fb5ff;
	line-height: 35px;
}
.service_pic{
	width:15px;
	height: 15px;
	margin-left: 20px;
}
/*-----------------------------------------------------withcase-----------------------------------------------------------*/
.withcash{
	font-size: 22px;
	margin: 10px 0 25px 18%;
}
.cash_message{
	background-color: #fff;
	box-shadow: 0px 0px 10px #eee;
}
.withcash_form{
	width:60%;
	margin:0 auto 30px;
	border: 1px solid #dcdcdc;
	border-top: 30px solid #eee;
}
.withcash_list{
	width:100%;
	margin-top: 20px;
}
.withcash_list li{
	line-height: 50px;
}
.withcase_input{
	height: 25px;
	line-height: 25px;
	text-indent: 5px;
	border:1px solid #dcdcdc;
	width:40%;
	margin-top: 12px;
}
.cashlist_left{
	float: left;
	width: 30%;
	text-align: right;
}
.submit_btn{
	text-align: center;
	margin: 20px 0;
}
.cash_btn{
	display: inline-block;
	width:120px;
	height: 30px;
	line-height: 30px;
	background-color: #476cf0;
	color: #fff;
	cursor: pointer;
}
/*-------------------------------------------------------incomemag-------------------------------------------------------*/
.user_message{
	background-color: #fff;
	padding:0 10px 80px;
	margin-top:30px;
}
.user_meg_title{
	margin: 15px 0 25px 20px;
}
.user_category{
	display: inline-block;
	float: left;
}
.user_meg_tip{
	margin: 0 0 25px 70px;
}
.table_title{
	float: left;
}
.table_title li{
	float: left;
	border-left: 1px solid #7f7f7f;
	padding:0 15px;
	cursor: pointer;
}
.user_meg_table{
	width:100%;
}
.user_meg_table th{
	background-color: #0fb6ff;
	height: 30px;
	text-align: center;
}
.user_meg_table td{
	height: 30px;
	text-align: center;
}
/*--------------------------------------------------------addaccout-------------------------------------------------------*/
.add_account_message{
	width:100%;
	background-color: #fff;
}
.add_account_list{
	margin-bottom: 10px;
}
.add_account_list label{
	display: inline-block;
	width: 30%;
	text-align: right;
}
.add_account_list input,.pp-select{
	width:220px;
	border: 1px solid #dcdcdc;
	border-radius: 2px;
	height: 30px;
	line-height: 30px;
	text-indent: 5px;
}
.account_classfiy{
	margin: 10px 0 10px 15%;
}
.add_content{
	width:60%;
	margin: 0 auto;
	border: 1px solid #f7f7f7;	
}
.pwd_header{
	background-color: #f7f7f7;
	width:100%;
	height: 45px;
	font-size: 12px;
	text-indent: 40px;
}
.step_title{
	margin:0 0 20px 23%;
	padding-top: 15px;
}
.submit_btn{
	margin: 20px auto 30px;
	color: #fff;
}
.submit{
	background-color: #476cf0;
	width: 120px;
	height: 25px;
	line-height: 25px;
	color: #fff;
}
.reg-msg {
	display:inline-block;
	color:#999; white-space:
	nowrap;
	padding-left:17px; 
	background: url(../imgs/hint.png) no-repeat 0 1px;
	font-size: 1px;
}
.reg-right {
	background: url(../imgs/reg.png) no-repeat 0 3px; 
	padding-left:18px;
	height:18px;
	 vertical-align:middle;
}
.reg-error { 
	 background: url(../imgs/reg.png) no-repeat 0 -34px;
	 padding-left:18px; 
	 height:18px; 
	 color: red; 
}
.reg-msg-pass {
	display:inline-block;
	color:#999; 
	white-space:nowrap;
	padding-left:18px;
	width:14px; 
	background: url(../imgs/hint.png) no-repeat 0 4px;
}
.reg-right-pass{
	background: url(../imgs/reg.png) no-repeat 0 1px; 
	padding-left:18px;
	width:14px;
	height:14px; 
	vertical-align:middle; 
}
.reg-error-pass{ 
	background: url(../imgs/reg.png) no-repeat 0 -36px; 
	padding-left:18px;
	width:14px;
	height:14px; 
	color: red; 
}
/*---------------------------------------------------changepassowrd-------------------------------------------------------*/
.motify_password{
	width:100%;
	background-color: #fff;
	box-shadow: 0px 0px 10px #dcdcdc;
}
.detail_form{
	width:60%;
	margin: 0 auto 40px;
	border: 1px solid #f7f7f7;
}
.modify_list{
	line-height: 40px;
}
.modify_list label{
	display: inline-block;
	width: 40%;
	text-align: right;
}
.modify_list input{
	width:150px;
	border: 1px solid #ddd;
	border-radius: 2px;
	height: 25px;
	text-indent: 5px;
}
#form_password{
	margin-top: 20px;
}
.password_title{
	margin:0 0 20px 18%;
	padding-top: 20px;
	font-size: 18px;
}
/*-------------------------------------------------helpcenter-----------------------------------------------------------*/
.help_page{
	padding:20px 0 20px 20px;
	background-color: #fff;
}
.center_title{
	font-size: 18px;
	color: red;
}
.center_tip{
	font-size: 16px;
	margin-top: 30px;
}
.help_list{
	margin-top: 30px;
}
.help_list li{
	margin-bottom: 40px;
	font-weight: bold;
}
.help_list li p{
	margin-bottom: 15px;
}
.money_detail_tip{
	float: left;
}
.money_tip_pic{
	width: 40px;
	height: 40px;
}
.home_add_equal{
	float: left;
	font-size: 30px;
	line-height: 55px;
	font-weight: bold;
}
/*--------------------------------------------------------azamonreg------------------------------------------------------*/
.reg_pingpong_logo{
	margin: 15px auto 20px;
}
.reg_content{
	width:70%;
	margin: 0 auto;
	background-color: #fff;
	border: 1px solid #0fb6ff;
}
.hand_in_pingpong{
	padding-top: 120px;
	position: relative;
}
.hand_in_tip{
	position: absolute;
	top:100px;
	left: 70px;
}
.reg_pingpong_intr{
	margin:-25px 0px 0 70px;
}
.triangle{
	width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-left: 8px solid #0fb6ff;
    border-bottom: 5px solid transparent;
    float:left;
    margin: 8px 10px 0 0;
}
.triangle_right{
	color:#0fb6ff;
	font-size:16px;
	float:left;
}
.lower_cost{
	font-size: 18px;
	color: #0fb6ff;
	margin-bottom: 5px;
}
.reg_intr_list{
	float: left;
	width: 33%;
}
.reg_pingpong_mes{
	margin: 30px 70px;
}
.once_reg_tip{
	width:100%;
	height: 30px;
	background-color: #ff355e;
	line-height: 30px;
	border-radius: 10px;
	color: #fff;
	font-size: 16px;
	text-align: center;
	margin-bottom: 20px;
}
.reg_list_mes{
	line-height: 35px;
}
.reg_list_mes label{
	width:38%;
	text-align: right;
	display: inline-block;
	color: #0fb6ff;
	margin-right: 5px;
}
.reg_list_mes input{
	height: 25px;
	line-height: 25px;
	border: 1px solid #0fb6ff;
	border-radius: 3px;
	text-indent: 5px;
}
.reg_submit_btn{
	width: 150px;
	margin: 5px auto;
}
.reg_submit{
	width: 150px;
	height: 25px;
	background-color: #ff355e;
	text-align: center;
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
}
.service_introduce{
	margin: 20px 70px;
}
.service_introduce_title{
	line-height: 30px;
}
.reg_line{
	display: inline-block;
	width: 80%;
	float: right;
	border-top:1px solid #0fb6ff;
	vertical-align: middle;
	margin-top: 15px;
}
.service_introduce_process{
	margin: 15px 0 20px;
}
.process_list{
	float: left;
	width: 25%;
}
.fontsize12{
	font-size: 12px;
}
.service_consult{
	margin: 20px 70px 90px;
}
.consult_list li{
	float: left;
	margin:15px 70px 0 0;
}
.reg_pingpong_bot{
	text-align: center;
	margin: 20px 0;
}
.pingpong_small_logo{
	float: left;
	margin-left: 20%;
}
.channel_logo{
	float: right;
	margin-right: 20%;
}
/*---------------------------------------------------pagination-----------------------------------------------------------*/
@charset "utf-8";      
.pagination a {
    text-decoration: none;
	border: 1px solid #AAE;
	color: #15B;
}

.pagination a, .pagination span {
    display: inline-block;
    padding: 0.1em 0.4em;
    margin-right: 5px;
	margin-bottom: 5px;
}

.pagination .current {
    background: #26B;
    color: #fff;
	border: 1px solid #AAE;
}

.pagination .current.prev, .pagination .current.next{
	color:#999;
	border-color:#999;
	background:#fff;
}
/*-------------------------------------------------------layer-----------------------------------------------------------*/

 *html{background-image:url(about:blank);background-attachment:fixed}html #layui_layer_skinlayercss{display:none;position:absolute;width:1989px}.layui-layer,.layui-layer-shade{position:fixed;_position:absolute;pointer-events:auto}.layui-layer-shade{top:0;left:0;width:100%;height:100%;_height:expression(document.body.offsetHeight+"px")}.layui-layer{top:150px;left:50%;margin:0;padding:0;background-color:#fff;-webkit-background-clip:content;box-shadow:1px 1px 50px rgba(0,0,0,.3);border-radius:2px;-webkit-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation-duration:.3s;animation-duration:.3s}.layui-layer-close{position:absolute}.layui-layer-content{position:relative}.layui-layer-border{border:1px solid #B2B2B2;border:1px solid rgba(0,0,0,.3);box-shadow:1px 1px 5px rgba(0,0,0,.2)}.layui-layer-moves{position:absolute;border:3px solid #666;border:3px solid rgba(0,0,0,.5);cursor:move;background-color:#fff;background-color:rgba(255,255,255,.3);filter:alpha(opacity=50)}.layui-layer-load{background:url(default/loading-0.gif) center center no-repeat #fff}.layui-layer-ico{background:url(default/icon.png) no-repeat}.layui-layer-btn a,.layui-layer-dialog .layui-layer-ico,.layui-layer-setwin a{display:inline-block;*display:inline;*zoom:1;vertical-align:top}@-webkit-keyframes bounceIn{0%{opacity:0;-webkit-transform:scale(.5);transform:scale(.5)}100%{opacity:1;-webkit-transform:scale(1);transform:scale(1)}}@keyframes bounceIn{0%{opacity:0;-webkit-transform:scale(.5);-ms-transform:scale(.5);transform:scale(.5)}100%{opacity:1;-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}}.layui-anim{-webkit-animation-name:bounceIn;animation-name:bounceIn}@-webkit-keyframes bounceOut{100%{opacity:0;-webkit-transform:scale(.7);transform:scale(.7)}30%{-webkit-transform:scale(1.03);transform:scale(1.03)}0%{-webkit-transform:scale(1);transform:scale(1)}}@keyframes bounceOut{100%{opacity:0;-webkit-transform:scale(.7);-ms-transform:scale(.7);transform:scale(.7)}30%{-webkit-transform:scale(1.03);-ms-transform:scale(1.03);transform:scale(1.03)}0%{-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}}.layui-anim-close{-webkit-animation-name:bounceOut;animation-name:bounceOut;-webkit-animation-duration:.2s;animation-duration:.2s}@-webkit-keyframes zoomInDown{0%{opacity:0;-webkit-transform:scale(.1) translateY(-2000px);transform:scale(.1) translateY(-2000px);-webkit-animation-timing-function:ease-in-out;animation-timing-function:ease-in-out}60%{opacity:1;-webkit-transform:scale(.475) translateY(60px);transform:scale(.475) translateY(60px);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}@keyframes zoomInDown{0%{opacity:0;-webkit-transform:scale(.1) translateY(-2000px);-ms-transform:scale(.1) translateY(-2000px);transform:scale(.1) translateY(-2000px);-webkit-animation-timing-function:ease-in-out;animation-timing-function:ease-in-out}60%{opacity:1;-webkit-transform:scale(.475) translateY(60px);-ms-transform:scale(.475) translateY(60px);transform:scale(.475) translateY(60px);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}.layui-anim-01{-webkit-animation-name:zoomInDown;animation-name:zoomInDown}@-webkit-keyframes fadeInUpBig{0%{opacity:0;-webkit-transform:translateY(2000px);transform:translateY(2000px)}100%{opacity:1;-webkit-transform:translateY(0);transform:translateY(0)}}@keyframes fadeInUpBig{0%{opacity:0;-webkit-transform:translateY(2000px);-ms-transform:translateY(2000px);transform:translateY(2000px)}100%{opacity:1;-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0)}}.layui-anim-02{-webkit-animation-name:fadeInUpBig;animation-name:fadeInUpBig}@-webkit-keyframes zoomInLeft{0%{opacity:0;-webkit-transform:scale(.1) translateX(-2000px);transform:scale(.1) translateX(-2000px);-webkit-animation-timing-function:ease-in-out;animation-timing-function:ease-in-out}60%{opacity:1;-webkit-transform:scale(.475) translateX(48px);transform:scale(.475) translateX(48px);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}@keyframes zoomInLeft{0%{opacity:0;-webkit-transform:scale(.1) translateX(-2000px);-ms-transform:scale(.1) translateX(-2000px);transform:scale(.1) translateX(-2000px);-webkit-animation-timing-function:ease-in-out;animation-timing-function:ease-in-out}60%{opacity:1;-webkit-transform:scale(.475) translateX(48px);-ms-transform:scale(.475) translateX(48px);transform:scale(.475) translateX(48px);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}.layui-anim-03{-webkit-animation-name:zoomInLeft;animation-name:zoomInLeft}@-webkit-keyframes rollIn{0%{opacity:0;-webkit-transform:translateX(-100%) rotate(-120deg);transform:translateX(-100%) rotate(-120deg)}100%{opacity:1;-webkit-transform:translateX(0) rotate(0);transform:translateX(0) rotate(0)}}@keyframes rollIn{0%{opacity:0;-webkit-transform:translateX(-100%) rotate(-120deg);-ms-transform:translateX(-100%) rotate(-120deg);transform:translateX(-100%) rotate(-120deg)}100%{opacity:1;-webkit-transform:translateX(0) rotate(0);-ms-transform:translateX(0) rotate(0);transform:translateX(0) rotate(0)}}.layui-anim-04{-webkit-animation-name:rollIn;animation-name:rollIn}@keyframes fadeIn{0%{opacity:0}100%{opacity:1}}.layui-anim-05{-webkit-animation-name:fadeIn;animation-name:fadeIn}@-webkit-keyframes shake{0%,100%{-webkit-transform:translateX(0);transform:translateX(0)}10%,30%,50%,70%,90%{-webkit-transform:translateX(-10px);transform:translateX(-10px)}20%,40%,60%,80%{-webkit-transform:translateX(10px);transform:translateX(10px)}}@keyframes shake{0%,100%{-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0)}10%,30%,50%,70%,90%{-webkit-transform:translateX(-10px);-ms-transform:translateX(-10px);transform:translateX(-10px)}20%,40%,60%,80%{-webkit-transform:translateX(10px);-ms-transform:translateX(10px);transform:translateX(10px)}}.layui-anim-06{-webkit-animation-name:shake;animation-name:shake}@-webkit-keyframes fadeIn{0%{opacity:0}100%{opacity:1}}.layui-layer-title{padding:0 80px 0 20px;height:42px;line-height:42px;border-bottom:1px solid #eee;font-size:14px;color:#333;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;background-color:#F8F8F8;border-radius:2px 2px 0 0}.layui-layer-setwin{position:absolute;right:15px;*right:0;top:15px;font-size:0;line-height:initial}.layui-layer-setwin a{position:relative;width:16px;height:16px;margin-left:10px;font-size:12px;_overflow:hidden}.layui-layer-setwin .layui-layer-min cite{position:absolute;width:14px;height:2px;left:0;top:50%;margin-top:-1px;background-color:#2E2D3C;cursor:pointer;_overflow:hidden}.layui-layer-setwin .layui-layer-min:hover cite{background-color:#2D93CA}.layui-layer-setwin .layui-layer-max{background-position:-32px -40px}.layui-layer-setwin .layui-layer-max:hover{background-position:-16px -40px}.layui-layer-setwin .layui-layer-maxmin{background-position:-65px -40px}.layui-layer-setwin .layui-layer-maxmin:hover{background-position:-49px -40px}.layui-layer-setwin .layui-layer-close1{background-position:0 -40px;cursor:pointer}.layui-layer-setwin .layui-layer-close1:hover{opacity:.7}.layui-layer-setwin .layui-layer-close2{position:absolute;right:-28px;top:-28px;width:30px;height:30px;margin-left:0;background-position:-149px -31px;*right:-18px;_display:none}.layui-layer-setwin .layui-layer-close2:hover{background-position:-180px -31px}.layui-layer-btn{text-align:right;padding:0 10px 12px;pointer-events:auto}.layui-layer-btn a{height:28px;line-height:28px;margin:0 6px;padding:0 15px;border:1px solid #dedede;background-color:#f1f1f1;color:#333;border-radius:2px;font-weight:400;cursor:pointer;text-decoration:none}.layui-layer-btn a:hover{opacity:.9;text-decoration:none}.layui-layer-btn a:active{opacity:.7}.layui-layer-btn .layui-layer-btn0{border-color:#4898d5;background-color:#2e8ded;color:#fff}.layui-layer-dialog{min-width:260px}.layui-layer-dialog .layui-layer-content{position:relative;padding:20px;line-height:24px;word-break:break-all;font-size:14px;overflow:auto}.layui-layer-dialog .layui-layer-content .layui-layer-ico{position:absolute;top:16px;left:15px;_left:-40px;width:30px;height:30px}.layui-layer-ico1{background-position:-30px 0}.layui-layer-ico2{background-position:-60px 0}.layui-layer-ico3{background-position:-90px 0}.layui-layer-ico4{background-position:-120px 0}.layui-layer-ico5{background-position:-150px 0}.layui-layer-ico6{background-position:-180px 0}.layui-layer-rim{border:6px solid #8D8D8D;border:6px solid rgba(0,0,0,.3);border-radius:5px;box-shadow:none}.layui-layer-msg{min-width:180px;border:1px solid #D3D4D3;box-shadow:none}.layui-layer-hui{min-width:100px;background-color:#000;filter:alpha(opacity=60);background-color:rgba(0,0,0,.6);color:#fff;border:none}.layui-layer-hui .layui-layer-content{padding:12px 25px;text-align:center}.layui-layer-dialog .layui-layer-padding{padding:20px 20px 20px 55px;text-align:left}.layui-layer-page .layui-layer-content{position:relative;overflow:auto}.layui-layer-iframe .layui-layer-btn,.layui-layer-page .layui-layer-btn{padding-top:10px}.layui-layer-nobg{background:0 0}.layui-layer-iframe .layui-layer-content{overflow:hidden}.layui-layer-iframe iframe{display:block;width:100%}.layui-layer-loading{border-radius:100%;background:0 0;box-shadow:none;border:none}.layui-layer-loading .layui-layer-content{width:60px;height:24px;background:url(default/loading-0.gif) no-repeat}.layui-layer-loading .layui-layer-loading1{width:37px;height:37px;background:url(default/loading-1.gif) no-repeat}.layui-layer-ico16,.layui-layer-loading .layui-layer-loading2{width:32px;height:32px;background:url(default/loading-2.gif) no-repeat}.layui-layer-tips{background:0 0;box-shadow:none;border:none}.layui-layer-tips .layui-layer-content{position:relative;line-height:22px;min-width:12px;padding:5px 10px;font-size:12px;_float:left;border-radius:3px;box-shadow:1px 1px 3px rgba(0,0,0,.3);background-color:#F90;color:#fff}.layui-layer-tips .layui-layer-close{right:-2px;top:-1px}.layui-layer-tips i.layui-layer-TipsG{position:absolute;width:0;height:0;border-width:8px;border-color:transparent;border-style:dashed;*overflow:hidden}.layui-layer-tips i.layui-layer-TipsB,.layui-layer-tips i.layui-layer-TipsT{left:5px;border-right-style:solid;border-right-color:#F90}.layui-layer-tips i.layui-layer-TipsT{bottom:-8px}.layui-layer-tips i.layui-layer-TipsB{top:-8px}.layui-layer-tips i.layui-layer-TipsL,.layui-layer-tips i.layui-layer-TipsR{top:1px;border-bottom-style:solid;border-bottom-color:#F90}.layui-layer-tips i.layui-layer-TipsR{left:-8px}.layui-layer-tips i.layui-layer-TipsL{right:-8px}.layui-layer-lan[type=dialog]{min-width:280px}.layui-layer-lan .layui-layer-title{background:#4476A7;color:#fff;border:none}.layui-layer-lan .layui-layer-lan .layui-layer-btn{padding:10px;text-align:right;border-top:1px solid #E9E7E7}.layui-layer-lan .layui-layer-btn a{background:#BBB5B5;border:none}.layui-layer-lan .layui-layer-btn .layui-layer-btn1{background:#C9C5C5}.layui-layer-molv .layui-layer-title{background:#009f95;color:#fff;border:none}.layui-layer-molv .layui-layer-btn a{background:#009f95}.layui-layer-molv .layui-layer-btn .layui-layer-btn1{background:#92B8B1}